.element-bg{
  background-color: #C0CAEF
}
.perfil{
  float: left;
}
.bold{
  font-style: italic;
  font-weight: bold;
}
.mas{
  font-size: 40px;
  color: green;
}
.menos{
  font-size: 40px;
  color: red;
}
