#menu_professional{
  clear: both;
  float: left;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}
#menu_professional li {
   float: left;
}
#menu_professional li a {
  padding: .5em;
  padding-left: 25px;
  padding-right: 25px;
  display: block;
  text-decoration: none;
  color: #333;
  background: #2A3F54;
  border-top: 1px solid #7C7C7C;
  border-right: 1px solid #7C7C7C;
  border-bottom: 1px solid #9C9C9C;
}
